
<head>
<title>Clientes</title>
</head>
<body>
Site de compras online - CLIENTES
 <ul style="list-style-type:disc">
  <li>Miguel Veloso</li>
  <li>Fabio Coentrao</li>
  <li>Pablo Osvaldo</li>
</ul> 
</body>
