<head>
<title>Fornecedores</title>
</head>
<body>
Site de compras online - FORNECEDORES
 <ul style="list-style-type:disc">
  <li>Samsung Mobile</li>
  <li>Yokohama Tires</li>
  <li>Carlsberg</li>
</ul> 
</body>
